#-------------------------------------------------------------------------------
# General
#-------------------------------------------------------------------------------

*.pyc
.DS_Store
*/.DS_Store
*/*.pyc

temp

#-------------------------------------------------------------------------------
# JetBrains
#-------------------------------------------------------------------------------

.idea
