#-------------------------------------------------------------------------------
# General
#-------------------------------------------------------------------------------

*.pyc
.DS_Store

temp

#-------------------------------------------------------------------------------
# JetBrains
#-------------------------------------------------------------------------------

.idea
